  <%= image_tag "login_bg.jpg", class: "object-cover max-h-screen w-full" %>
<div class="mx-auto w-full absolute top-0 left-0 right-0 bottom-20 flex justify-center items-center">
  <div class="w-full max-w-md">
    <% if alert = flash[:alert] %>
      <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
    <% end %>
    <% if notice = flash[:notice] %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <%= image_tag "logo.png", class: "w-[100] mx-auto mb-10" %>
    <%= form_with url: session_url do |form| %>
      <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-6 w-full">
        <div class="flex flex-col space-y-4">
          <div>
            <label class="label">Email</label>
            <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Email", value: params[:email_address], class: "input w-full" %>
          </div>
          <div>
            <label class="label">Password</label>
            <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "password", maxlength: 72, class: "input w-full" %>
          </div>
          <div class="flex justify-between items-center">
            <label class="label cursor-pointer" data-controller="toggle-text">
              <%= form.check_box :remember_me, class: "toggle toggle-sm", checked: false, data: { action: "change->toggle-text#toggle" } %>
              <span class="text-gray-500 text-sm" data-toggle-text-target="label">ログイン情報を保存</span>
            </label>
            <%= link_to "パスワード再発行", new_password_path, class: "text-gray-500 text-sm hover:text-gray-700" %>
          </div>
          <%= form.submit "Login", class: "btn btn-neutral w-full" %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
